.register-modal {
  background-color: rgba($color: #000000, $alpha: 86%);
  position: fixed;
  top: -100px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  display: none;
  opacity: 0;
  &.show {
    opacity: 1;
    display: flex;
    top: 0;
    transition: all 0.5s ease-in-out;
  }
  .register-form {
    background-color: #fff;
    width: 400px;
    padding: 2rem 3rem;
    h5 {
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 2rem;
      color: #7d7d7d;
      font-size: 13px;
      width: 75%;
      text-align: center;
      .signup {
        color: #bbda6f;
        cursor: pointer;
      }
    }
    input {
      &:not(input[type="checkbox"]) {
        height: 47px;
        border: 1px solid #d8d8d8;
        border-radius: 40px;
        margin-bottom: 1rem;
        font-size: 11px;
      }
    }
    .forget {
      color: #808080;
      font-size: 11px;
      cursor: pointer;
    }
    .social {
      margin-top: 1rem;
      margin-bottom: 1rem;
      button {
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 142px;
        height: 48px;
        border-radius: 40px;
        font-size: 16px;
        span {
          margin-inline-end: 0.5rem;
        }
        &.btn-facebook {
          background: #3b5998;
          color: #fff;
        }
        &.btn-gmail {
          border: 1px solid #f1584d;
          background-color: #fff;
        }
      }
    }
    button[type="submit"] {
      background-color: #3e94cd;
      height: 48px;
      width: 100%;
      border-radius: 40px;
      color: #fff;
      border: 0;
      margin-bottom: 3rem;
    }
  }
}

.form-check {
  display: flex;
  padding-right: 1.5em;
  padding-left: 0;
  align-items: center;
  .form-check-input {
    float: right;
    margin-right: -1.5em;
    margin-left: 0;
  }
  label {
    margin-top: 0;
    margin-inline-start: 0.5rem;
    font-size: 12px;
    color: #000;
  }
}
