<footer class="text-lg-start text-muted">
    <section class="footer">
        <div class="container">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-sm-4 logo__about">
                    <!-- Content -->
                    <div class="text-end">
                        <img src="../../../assets/images/logoblack.svg" />
                    </div>
                    <p class="text-start">
                        في عام 2005 ، كانت منطقة في غرب القاهرة تفتقر إلى الخدمات الأساسية للسكان هناك ،
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-sm-4 m-auto d-flex text-end justify-content-center">
                    <div class="footer-links">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4 text-dark">القائمة الرئيسية
                        </h6>
                        <p>
                            <a routerLink="/"> الرئيسية</a>
                        </p>
                        <p>
                            <a routerLink="/products"> المنتجات </a>
                        </p>
                        <p>
                            <a routerLink="/about-us"> من نجن</a>
                        </p>
                        <p>
                            <a routerLink="/contact-us"> تواصل معنا</a>
                        </p>
                    </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-sm-4 d-flex">
                    <!-- Links -->
                    <div>
                        <div class="social-link d-flex">
                            <a href="" class="text-reset">
                                <img src="../../../assets/images/linkind.svg" alt="" />
                            </a>
                            <a href="" class="text-reset">
                                <img src="../../../assets/images/youtube.svg" alt="" />
                            </a>
                            <a href="" class="text-reset">
                                <img src="../../../assets/images/vimeo.svg" alt="" />
                            </a>
                            <a href="" class="text-reset">
                                <img src="../../../assets/images/insta.svg" alt="" />
                            </a>
                            <a href="" class="text-reset">
                                <img src="../../../assets/images/twitter.svg" alt="" />
                            </a>
                            <a href="" class="text-reset">
                                <img src="../../../assets/images/facebook.svg" alt="" />
                            </a>
                        </div>
                        <div class="copyright">
                            © 2021 جميع الحقوق محفوظة في
                            <strong>صمم بـــ<i class="fas fa-heart"></i>
                                <a class="text-reset fw-bold" href="https://innovalz.com/">Innovalz</a>
                            </strong>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
</footer>