<section class="navbar-head">
    <nav class="navbar navbar-expand-lg navbar-light container">
        <a class="navbar-brand" routerLink="/">
            <img src="../../../assets/images/logo1.svg" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav navbar-section">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">الرئيسيه </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/department" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">الاقسام</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about-us" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">من نحن</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact-us" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">تواصل معنا</a>
                </li>
            </ul>
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="../../../assets/images/search.svg" alt="Search">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="../../../assets/images/cart.svg" alt="Cart">
                    </a>
                </li>

                <li class="nav-item my-auto mx-0" *ngIf="!isLogin">
                    <a class="nav-link btn-action" (click)="loginModal()"> تسجيل دخول </a>
                </li>
                <ng-container *ngIf="isLogin">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="ms-1" src="../../../assets/images/user.svg" alt="user">
                            Ahmed Samir
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" routerLink="/profile">
                                    <img class="ms-1" src="../../../assets/images/profile.svg" alt="user">
                                    الملف الشخصي
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" (click)="logout()">
                                    <img class="ms-1" src="../../../assets/images/log-out.svg" alt="user">
                                    تسجيل الخروج
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="ms-1" src="../../../assets/images/egypt.png" alt="user">
                            العربية
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item">
                                    <img class="ms-1" src="../../../assets/images/egypt.png" alt="user">
                                    العربية
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <img class="ms-1" src="../../../assets/images/egypt.png" alt="user">
                                    العربية
                                </a>
                            </li>
                        </ul>
                    </li>
                </ng-container>
            </ul>
        </div>
    </nav>
</section>

<app-login></app-login>
<app-register></app-register>