<section class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 d-flex h-400">
                <div class="m-auto w-75">
                    <h2>اشترك يصلك الجديد</h2>
                    <h3>اشترك في النشرة الإخبارية لدينا و تلقي عروض حصرية كل أسبوع</h3>
                </div>
            </div>
            <div class="col-sm-6 d-flex h-400">
                <div class="m-auto w-100">
                    <input type="email" name="" id="" />
                    <input type="submit" name="اشترك" value="اشترك" />
                </div>
            </div>
        </div>
    </div>
</section>