<section class="product-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">الرئيسيه</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">الادويه</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">بنادول اكسترا</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row m-auto w-95">
            <div class="col-sm-5 text-center">
                <img src="../../../assets/images/panadol.png">
            </div>
            <div class="col-sm-7">
                <div class="product-info">
                    <h3>بنادول اكسترا</h3>
                    <span>20</span>&nbsp;
                    <span>جنيه مصري</span>
                    <br>
                    <p>
                        تفاصيل المنتج تكتب هنا تفاصيل المنتج تكتب هنا تفاصيل المنتج تكتب هنا تفاصيل المنتج تكتب هنا
                        تفاصيل المنتج تكتب هنا تفاصيل المنتج تكتب هنا تفاصيل المنتج تكتب هنا تفاصيل المنتج تكتب هنا
                        تفاصيل المنتج تكتب هنا
                    </p>
                    <a href="#">اضف الي العربه</a>
                    <input type="number" value="1">
                </div>
            </div>
        </div>
        <div class="row product-use">
            <div class="col-sm-12 mt-70">
                <h2>تفاصيل عن المنتج</h2>
                <p>تفاصيل المنتج تكتب هنا تفاصيل المنتج تكتب هنا تفاصيل المنتج تكتب هنا تفاصيل المنتج تكتب هنا تفاصيل
                    المنتج تكتب هنا تفاصيل المنتج تكتب هنا تفاصيل المنتج تكتب هنا تفاصيل المنتج تكتب هنا تفاصيل المنتج
                    تكتب هنا تفاصيل المنتج تكتب هنا تفاصيل المنتج تكتب هنا تفاصيل المنتج تكتب هنا تفاصيل المنتج تكتب هنا
                    تفاصيل المنتج تكتب هنا تفاصيل المنتج تكتب هنا تفاصيل المنتج تكتب هنا تفاصيل المنتج تكتب هنا تفاصيل
                    المنتج تكتب هنا</p>
            </div>
        </div>
        <div class="row product-use">
            <div class="col-sm-12">
                <h2>دواعي الاستعمال</h2>
                <p>تفاصيل المنتج تكتب هنا تفاصيل المنتج تكتب هنا تفاصيل المنتج تكتب هنا تفاصيل المنتج تكتب هنا تفاصيل
                    المنتج تكتب هنا تفاصيل المنتج تكتب هنا تفاصيل المنتج تكتب هنا تفاصيل المنتج تكتب هنا تفاصيل المنتج
                    تكتب هنا تفاصيل المنتج تكتب هنا تفاصيل المنتج تكتب هنا تفاصيل المنتج تكتب هنا تفاصيل المنتج تكتب هنا
                    تفاصيل المنتج تكتب هنا تفاصيل المنتج تكتب هنا تفاصيل المنتج تكتب هنا تفاصيل المنتج تكتب هنا تفاصيل
                    المنتج تكتب هنا</p>
            </div>
        </div>
    </div>

</section>


<section class="product">
    <div class="container">
        <h2>منتجات لها صله</h2>
        <div class="row">
            <div class="col-sm-2">
                <div class="product-card">
                    <img src="../../../assets/images/mass.png" /><br>
                    <div class="product-des">
                        <div class="price-name">
                            <p>سيرياس ماس</p>
                            <span>مكمل غذائي</span>
                        </div>
                        <div class="piece-price">
                            <span class="price-num">300 </span>
                            <span class="price-cur">جنيه</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>