<section class="contact-form">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>اتصل بنا</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">

                <form>
                    <label>الاسم</label><br>
                    <input type="text" placeholder="ادخل اسمك كامل"><br>
                    <label>رقم الهاتف</label><br>
                    <input type="tel"><br>
                    <label>البريد الإلكتروني</label><br>
                    <input type="email"><br>
                    <label>الرسالة</label><br>
                    <textarea></textarea><br>
                    <button type="submit">ارسال</button>
                </form>
            </div>
            <div class="col-sm-4 ">
                <div class="location">
                    <div class="float-end">
                        <img src="../../../assets/images/Icon material-location-on.svg" width="15px">
                    </div>
                    <div class="me-40">
                        <h3>العنوان</h3>
                        <span>مكتب رقم 109، ديره، هور العنز، بناية الزرعوني ديره، دبي الامارات العربية المتحدة</span>
                    </div>
                </div>
                <div class="phone">
                    <div class="float-end">
                        <img src="../../../assets/images/Path 36056.svg" width="15px">
                    </div>
                    <div class="me-40">
                        <h3>التليفون</h3>
                        <span>00971457847798</span>
                    </div>
                </div>
                <div class="email">
                    <div class="float-end">
                        <img src="../../../assets/images/Path 36058.svg" width="18px">
                    </div>
                    <div class="me-40">
                        <h3>البريد الإلكتروني</h3>
                        <span>info@sehaty.gmail.net</span>
                    </div>
                </div>
                <div class="map">
                    <img class="d-flex m-auto" src="../../../assets/images/Icon material-location-on-1.svg">
                </div>

            </div>
        </div>
    </div>
</section>