<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 filter-section">
                <div class="filter-bar">
                    <div class="search-name">
                        <label>بحث بالأسم</label><br>
                        <input type="search">
                    </div>
                    <div class="search-brand">
                        <label>العلامه التجارية</label><br>
                        <input type="checkbox"><label>MOLFIX</label><br>
                        <input type="checkbox"><label>PAMPERS</label><br>
                        <input type="checkbox"><label>PAMPERS PREMIUM</label><br>
                        <input type="checkbox"><label>MOLFIX</label>
                    </div>
                    <div class="search-price">
                        <label>السعر</label><br>
                        <input type="range" min="20" max="200">
                    </div>
                </div>
            </div>

            <div class="col-sm-9 product-list">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="../../../assets/images/pampers.png" width="45%"><br>
                        <h5>حفاظات اطفال</h5>
                        <div class="mb-3 product-list-info">
                            <span>300</span>&nbsp;
                            <span>جنيه</span>
                        </div>
                        <a href="#">اضف الي العربه</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>