<section class="head-back">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <h1>من نحن</h1>
            </div>
        </div>
    </div>
</section>

<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="../../../assets/images/Pharmacy.png" width="80%">
            </div>
            <div class="col-sm-6 m-auto">
                <p>في عام 2005 ، كانت منطقة في غرب القاهرة تفتقر إلى الخدمات الأساسية للسكان هناك ، وذلك عندما سعت
                    الدكتورة لمياء إلى تحقيق هدفها المتمثل في افتتاح أول صيدلية على الإطلاق في مكان بعيد جدًا ولا توجد
                    فيه أية مرافق على الإطلاق. بصفتها مقيمة وصاحبة عمل ، لاحظت الدكتورة لمياء فكرة الدور المهم الذي
                    تلعبه الإمدادات الطبية في حياة الناس ، حيث يعتبر الدواء ضرورة حيوية. كانت صيدلية الدكتورة لمياء راجح
                    موجودة منذ ما يقرب من عقدين من الزمن وقد اكتسبت ثقة واحترام كل من عملائها ومنافسيها ، وبالتالي أصبحت
                    ركيزة في المجتمع.</p>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-6 m-auto">
                <p>في عام 2005 ، كانت منطقة في غرب القاهرة تفتقر إلى الخدمات الأساسية للسكان هناك ، وذلك عندما سعت
                    الدكتورة لمياء إلى تحقيق هدفها المتمثل في افتتاح أول صيدلية على الإطلاق في مكان بعيد جدًا ولا توجد
                    فيه أية مرافق على الإطلاق. بصفتها مقيمة وصاحبة عمل ، لاحظت الدكتورة لمياء فكرة الدور المهم الذي
                    تلعبه الإمدادات الطبية في حياة الناس ، حيث يعتبر الدواء ضرورة حيوية. كانت صيدلية الدكتورة لمياء راجح
                    موجودة منذ ما يقرب من عقدين من الزمن وقد اكتسبت ثقة واحترام كل من عملائها ومنافسيها ، وبالتالي أصبحت
                    ركيزة في المجتمع.</p>
            </div>

            <div class="col-sm-6">
                <img src="../../../assets/images/about-section.png" width="60%">
            </div>
        </div>
    </div>

</section>