<section class="checkout">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="checkout-form">
                    <input type="radio" name="pay" checked><label>توصيل للمنزل</label>
                    <input type="radio" name="pay"><label>استلام</label><br><br><br>
                    <span class="coupon"> هل لديك كوبون خصم</span><br>
                    <input type="text"><a href="#" class="confirm-coupon">تاكيد</a><br>
                    <div class="product-price">
                        <span>السعر</span> <span>20 جنيه</span>
                    </div>
                    <div class="discount-price">
                        <span>الخصم</span>
                        <span class="text-danger">-10 جنيه</span>
                    </div>
                    <div class="delivery-price">
                        <span>التوصيل</span> <span>15 جنيه </span>
                    </div>
                    <div class="total-price">
                        <span>السعر النهائي</span>
                        <span class="text-dark font-w-700">25 جنيه</span>
                    </div>
                    <div class="confirmation">
                        <a href="#">تاكيد الشراء</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-9">
                <div class="row cart-step">
                    <div class="col-sm-12">
                        <div class="product-cart-detail">
                            <div class="product-cart-img">
                                <img src="../../../assets/images/panadol.png">
                            </div>
                            <div class="product-cart-name">
                                <div class="product-name">

                                    <h3>بنادول اسكترا</h3>
                                </div>
                                <div class="product-cart-price">

                                    <span>20</span>&nbsp;<span>جنيه</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-cart-action">
                            <input type="number" value="1">
                            <a href="#"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="product-cart-detail">
                            <div class="product-cart-img">
                                <img src="../../../assets/images/panadol.png">
                            </div>
                            <div class="product-cart-name">
                                <div class="product-name">

                                    <h3>بنادول اسكترا</h3>
                                </div>
                                <div class="product-cart-price">

                                    <span>20</span>&nbsp;<span>جنيه</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-cart-action">
                            <input type="number" value="1">
                            <a href="#"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="product-cart-detail">
                            <div class="product-cart-img">
                                <img src="../../../assets/images/panadol.png">
                            </div>
                            <div class="product-cart-name">
                                <div class="product-name">

                                    <h3>بنادول اسكترا</h3>
                                </div>
                                <div class="product-cart-price">
                                    <span>20</span>&nbsp;<span>جنيه</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-cart-action">
                            <input type="number" value="1">
                            <a href="#"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                </div>

                <div class="row payment-step">
                    <div class="col-sm-12">
                        <div class="payment-option">
                            <h2>تفاصيل الكارت</h2>
                            <div class="option-radio">
                                <input type="radio" name="option"><label>الدفع بالفيزا</label>&nbsp;&nbsp;&nbsp;
                                <input type="radio" name="option"><label>الدفع عند الاستلام</label>
                            </div>
                        </div>

                        <form>
                            <input type="text" placeholder="اسم صاحب الكارت"><br>
                            <input type="text" placeholder="رقم الكارت"><br>
                            <input type="text" placeholder="صلاحيه الكارت"><br>
                            <input type="text" placeholder="الرقم السري CVV"><br>

                        </form><br>
                        <div class="pay-btn">

                            <a href="#">ادفع الان</a>
                        </div>
                    </div>
                </div>

                <div class="row information-step">
                    <h2>معلومات الطلب</h2>
                    <div class="col-sm-12">
                        <label>الاسم</label><br>
                        <input type="text"><br>
                        <label>رقم الهاتف</label><br>
                        <input type="text"><br>
                        <label>العنوان</label><br>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>اختر عنوانك</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select><br>
                        <div class="pay-btn">

                            <a href="#">تأكيد</a>
                        </div>
                    </div>
                </div>


                <div class="row personal-step">
                    <h2>معلومات شخصيه</h2>
                    <div class="col-sm-12">
                        <label>الاسم</label><br>
                        <input type="text"><br>
                        <label>رقم الهاتف</label><br>
                        <input type="text">
                        <div class="pay-btn">
                            <a href="#">تأكيد</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>